@font-face {font-family:'Open Sans'; src:url("OpenSans-Regular.ttf") format("woff2");}
@font-face {font-family:"nasalization-rg";src:url("nasalization-rg.ttf")}
     
nav { display: inline-block;
background-color:#2e2f30 ;
width: 100%;
text-align: right;
border: 0;}

nav a {color: white; text-decoration: none;}

nav a:active {
    color: #17c1ff;} 

    nav a:hover{color:#17c1ff;}

    .accueil {color: #17c1ff ; font-weight: bold;}
    .programme{color: #17c1ff ;font-weight: bold;}
    .contacts{color: #17c1ff ;font-weight: bold;}
  
header
    {text-align: center;
    background-image:url(texture-header.jpg);
    height:150px;
}

h1 
{font-family:"nasalization-rg";
font-size: 40px;
color:#27d1ff;
text-align: center;
line-height: 70px;}

h2 {text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 1px 5px black;
    color: #2E2F2F;}

.centrer {max-width: 810px;
    width: 750px;
    margin: 0 auto;
text-align: center;
padding: 10px;}

.images {text-align: center;}



    
body 

    {font-size: 14px;
    background-color:#f2f2f2;
    font-family:'Open Sans';}
  
 footer {text-align: center}
   